.profile-page {
  width: 100%;
  height: 100vh;
  padding: 20px 20px 100px 20px;
  overflow: auto;
}
.header {
  padding: 10px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}
.header h2 {
  position: absolute;
  left: 0%;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.settings-icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 300px;
}
.profile-info {
  margin-top: 20px;
  display: flex;
  align-items: center; /* 이미지가 없다면 기본적으로 내용이 중앙 정렬되도록 */
  flex-direction: column;
}

.userimage {
  width: 100px;
  height: 100px;
  border: 1px solid #dbdbdb;
  background-color: #d9d9d9;
  border-radius: 100%;
  margin-bottom: 7px;
}
.userName {
  font-weight: 500;
  font-size: 20px;
  color: rgb(126, 126, 126);
}
.recipebox {
  margin-top: 20px;
  border: 1px solid #c7c7cc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.highlight {
  color: #049dbf; /* 원하는 색상으로 설정 */
}
.recipebox ul {
  list-style-type: none;
  padding: 0px 15px 0px 15px;
}

.recipebox li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: #8a8a8e;
  font-weight: 900;
  border-bottom: solid 1px #c5c5c6;
  padding-bottom: 5px;
}
.recipebox li span {
  margin-left: auto;
  font: 700;
}

.add-recipe {
  margin-top: 10px;
  padding: 10px;
  background-color: #049dbf;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 42px;
  border-radius: 10px;
}

.add-recipe:hover {
  background-color: #0367a6;
}

.add-recipe:hover::after {
  background-color: #0487d9;
}
